* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
}

.player-input {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.square {
  width: 100px;
  aspect-ratio: 1 / 1;
}   

footer {
  display: flex;
  flex: 0 0 auto;
  text-align: center;
}

footer div {
    flex: 1;
    margin: auto;
}
