* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-input {
    display: flex;
    flex-direction: column;
    gap: 3px;
}